/***************************************************
   DEBUT GLOBAL
***************************************************/
* {
    box-sizing: border-box;
   
}



iframe {
    max-width: 100%;
    display: block;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: red;
    /* Inherit Forcer l'héritage du parent*/
}

body {

    background-color: darkgreen;
}


.airdejeu {

    width: 1005px;
    height: 1005px;
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #373737;
    border-radius: 8px;
}

.casenoire {

    width: 100px;
    height: 100px;
    background-color: black;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.casenoireselectrouge {

    width: 100px;
    height: 100px;
    background-color: green;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.casenoire img {

    width: 80px;
    height: 80px;
    
}

.caseblanche {

    width: 100px;
    height: 100px;
    background-color: wheat;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

